student{
display:block;margin-top:10px;color:Navy;
}
USN{
display:block;margin-left:10px;font-size:14pt;color:Blue;
}
NAME{
display:block;margin-left:10px;font-size:14pt;color:Red;
}
COLLEGE{
display:block;margin-left:10px;font-size:14pt;color:Yellow;
}
BRANCH{
display:block;margin-left:10px;font-size:14pt;color:Black;
}
YEAR{
display:block;margin-left:10px;font-size:14pt;color:Grey;
}
e-mail{
display:block;margin-left:10px;font-size:14pt;color:Green;
}
